[submodule "codex"]
	path = repos/codex
	url = org-14957082@github.com:openai/codex.git
[submodule "vscode"]
	path = repos/vscode
	url = https://github.com/microsoft/vscode.git
[submodule "repos/opencode"]
	path = repos/opencode
	url = https://github.com/anomalyco/opencode.git
[submodule "repos/openclaw"]
	path = repos/openclaw
	url = https://github.com/openclaw/openclaw.git
